@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Merriweather+Sans:ital,wght@1,500&family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: "Lilita One", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: black;
  color: white;
}

#first-container {
  margin-top: 10em;
}



input::placeholder {
  font-weight: bolder;
  font-family: "Jost", sans-serif;
}

input {
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

textarea {
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

.options h2 {
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 700;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  border-radius: 32px;
  background-color: rgba(17, 17, 17, 0.8);
  width: 85vw;
  height: 8vh;
  backdrop-filter: blur(30px);
  z-index: 99;
  margin-top: 1em;
  overflow: hidden;
}

.header a {
  text-decoration: none;
  color: rgb(12, 19, 79);
}

#page-title {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 550;
  margin-left: 33vw;
}

#page-title a {
  text-decoration: none;
  color: white;
}

.header-container {
  display: flex;
  justify-content: center;
}



.header h1 {
  /*universe*/
  margin: 0.3em;
  font-size: xx-large;
  color: white;
}




.header h2 {
  /*Universe*/
  margin: 0.7em;
  padding: 0.7em;
  font-size: small;
  text-align: center;

  border-radius: 10px;
  border-style: solid;
  background-color: rgb(251, 37, 118);
  border-color: rgba(255, 255, 255, 0.1);
}

.header h2:hover {
  background-color: rgb(92, 70, 156);
  border-color: rgb(92, 70, 156);
}

.container {
  border-style: solid;
  border-color: grey;
  border-radius: 15px;
  border-width: 1px;
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.1);
}

#error-username-required {
  display: none;
  color: red;
}

#error-email-required {
  display: none;
  color: red;
}

#error-password-required {
  display: none;
  color: red;
}

/*---------------CHAT-------------------------*/

#chat{
  border-style: solid;
  border-color: grey;
  border-radius: 15px;
  border-width: 1px;
  margin-top: 4em;
  background-color: rgba(255, 255, 255, 0.1);
}

#form-send-message{
  margin: 1em;
}

/*-------------------------Media queries-------------------------------*/

/* Large devices (laptops/desktops, 1020px and up) */
@media only screen and (max-width: 1020px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {}