@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Merriweather+Sans:ital,wght@1,500&family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: "Lilita One", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  background-color: black;
}

.btn {
  background-color: black;

  border-style: solid;
  border-radius: 10px;
  font-weight: 650;
}

.btn:hover {
  background-color: rgb(251, 37, 118);
  border-color: rgb(251, 37, 118);
  border-style: none;
}

.bt {
  background-color: white;
  color: black;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  font-weight: 650;
  margin-left: 1em;
}

.bt:hover {
  background-color: rgb(251, 37, 118);
  border-color: rgb(251, 37, 118);
}

input::placeholder {
  font-weight: bolder;
  font-family: "Jost", sans-serif;
}

input {
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

textarea {
  font-family: "Jost", sans-serif;
  font-weight: bolder;
}

.header {
  display: flex;
  flex-direction: row;
  border-style: solid;
  align-items: center;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  border-radius: 32px;
  background-color: rgba(17, 17, 17, 0.8);
  width: 80vw;
  height: 8vh;
  backdrop-filter: blur(30px);
  z-index: 99;
  margin-top: 1em;
  overflow: hidden;
  gap: 36%;
}

#page-title {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 550;
}

#page-title a {
  text-decoration: none;
  color: white;
}

.header-container {
  display: flex;
  justify-content: center;
}

#side-menu {
  /*Menu*/
  background: rgb(17, 17, 17);
  width: 30vw;
  height: 8vh;
  position: fixed;
  border-radius: 32px;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  display: flex;
  left: -90vw;
  flex-direction: row;
  transition: position, 0.8s;
}

#side-menu ul {
  /*Menu Options*/
  display: flex;
  gap: 2em;
  margin-top: auto;
  margin-bottom: auto;
  list-style: none;
  font-size: large;
}

#side-menu a {
  /*Links*/
  color: white;
  text-decoration: none;
}

.header i {
  /*menu icon*/

  font-size: 22px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  color: white;
}

#side-menu a:hover {
  color: rgb(251, 37, 118);
}

.header h1 {
  /*universe*/
  margin: 0.3em;
  font-size: xx-large;
  color: white;
}

.header a {
  text-decoration: none;
  color: rgb(12, 19, 79);
}

.header h2 {
  /*Universe*/
  margin: 0.7em;
  padding: 0.7em;
  font-size: small;
  text-align: center;
  height: 2vh;
  width: 5vw;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(251, 37, 118);
  border-color: rgba(255, 255, 255, 0.1);
}

.header h2:hover {
  background-color: rgb(92, 70, 156);
  border-color: rgb(92, 70, 156);
}

.container {
  border-style: solid;
  border-color: grey;
  border-radius: 15px;
  border-width: 1px;
  margin-top: 8em;
  background-color: rgba(255, 255, 255, 0.1);
}

#error-username-required {
  display: none;
  color: red;
}

#error-email-required {
  display: none;
  color: red;
}

#error-password-required {
  display: none;
  color: red;
}

a img {
  height: 2em;
}

/*-------------------------Media queries-------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Large devices (laptops/desktops, 1020px and up) */
@media only screen and (min-width: 1020px) {
}
