@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather+Sans:ital,wght@1,500&display=swap');

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: 'Lobster', sans-serif;
  font-family: 'Merriweather Sans', sans-serif;

}

.bt {
  background-color: black;
  color: white;
  border-style: ridge;
  border-radius: 23% 23% 23% 23%;
  margin: 1em;
}

nav {
  border-radius: 0% 0% 18% 18%;
}

.container {
  border-style: groove;
  border-color: black;
  border-radius: 17px;
  background-color: rgba(0, 0, 0, 0.41);
}

#error-username-required {
  display: none;
  color: red;
}

#error-email-required {
  display: none;
  color: red;
}

#error-password-required {
  display: none;
  color: red;
}

a img {
  height: 2em;
}


/*-------------------------Body------------------------------------*/

body {

  background-image: url(../img/galaxy.jpg);
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}


/*-------------------------Media queries-------------------------------*/

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Large devices (laptops/desktops, 1020px and up) */
@media only screen and (min-width: 1020px) {}