@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Lobster&family=Merriweather+Sans:ital,wght@1,500&family=Roboto:wght@100&display=swap");

body {
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  width: 100%;
  font-family: "Lilita One", sans-serif;
  font-family: "Lobster", sans-serif;
  font-family: "Merriweather Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.options h2 {
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 700;
}

#page-title {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 550;
}

.slider-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
}

.slider-images img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider-img {
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.slider-images .slider-img:first-child,
.slider-images .slider-img:last-child {
  height: 480px;
}

.slider-images .slider-img:nth-child(2),
.slider-images .slider-img:nth-child(5) {
  height: 560px;
}

.slider-images .slider-img:nth-child(3),
.slider-images .slider-img:nth-child(4),
.slider-images .slider-img:nth-child(5) {
  height: 665px;
}

.slider-images .slider-img:nth-child(6) {
  height: 560px;
}

.slider-container h1 {
  font-family: "Jost", sans-serif;
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 50%;
  left: -50%;
  transform: rotate(270deg);
  transition: 0.7s ease;
}

#park {
  left: -15%;
}

#coffee {
  left: -15%;
}

.details {
  position: absolute;
  top: 50px;
  left: 43px;
}

.details h2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: white;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.details p {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: black;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

#amusement {
  color: black;
}

#beaches {
  color: black;
}

#shopping {
  color: black;
}

.slider-img.active {
  width: 766px !important;
  height: 750px !important;
}

.slider-img.active h1 {
  display: none;
}

.slider-img.active .details p,
.slider-img.active .details h2 {
  display: block;
}

.texts {

  border-radius: 10px;
  background-color: rgb(251, 37, 118);
  border-left: 5em;
  border-right: 5em;
  height: 100vh;
  width: 90%;
  margin: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.1);
  position: fixed;
  border-radius: 32px;
  background-color: rgba(17, 17, 17, 0.8);
  width: 85vw;
  height: 8vh;
  backdrop-filter: blur(30px);
  z-index: 99;
  margin-top: 1em;
  overflow: hidden;
}

.header-container {
  display: flex;
  justify-content: center;
}

.header i {
  /*menu icon*/

  font-size: 22px;
  margin: 0.8em;
  color: white;
}

.content {
  /*Slogan and photo*/
  display: flex;
  margin-top: 10em;
  font-size: xx-large;
}

.content h1 {
  /*Slogan*/
  margin-left: 0.8em;
  width: 20vw;
  color: white;
}

#header-section {
  margin-top:3em; 
  position: relative;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  margin-bottom: 4em;
}

#header-section #earth {
  position: absolute;
  overflow: hidden;
  backdrop-filter: blur(2px);
}

#header-section #bg {
  width: 95%;
  height: 100%;
  border-radius: 10px;
  object-fit: fill;
  position: absolute;
  border-bottom: 0;
  overflow: hidden;
}

#header-section #intro {
  width: 100%;
  margin-top: 0%;
  margin-left: .2em;
  position: absolute;
  font-size: 190px;
  color: white;
  text-align: left;
  font-family: "Jost", sans-serif;

}

#header-section #intro-extra {
  width: 100%;
  margin-right: .2em;
  margin-top: 1em;
  position: absolute;
  font-size: 190px;
  color: rgb(251, 37, 118);
  text-align: right;
  font-family: "Jost", sans-serif;
}


#side-menu {
  /*Menu*/
  background: rgb(17, 17, 17);
  width: 32vw;
  height: 8vh;
  position: fixed;
  border-radius: 32px;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.1);
  border-width: 1px;
  display: flex;
  left: -90vw;
  flex-direction: row;
  transition: position, 0.8s;
}

#side-menu ul {
  /*Menu Options*/
  display: flex;
  gap: 2em;
  list-style: none;
  font-size: large;
}

#side-menu a {
  /*Links*/
  color: white;
  text-decoration: none;
}

#side-menu a:hover {
  color: rgb(251, 37, 118);
}

.header h1 {
  /*universe*/
  margin: 0.3em;
  font-size: xx-large;
  color: white;
}

.header a {
  text-decoration: none;
  color: rgb(12, 19, 79);
}

.header h2 {
  /*Universe*/
  margin: 0.7em;
  padding: 0.7em;
  font-size: small;
  text-align: center;
  height: 2vh;
  width: 5vw;
  border-radius: 10px;
  border-style: solid;
  background-color: rgb(251, 37, 118);
  border-color: rgba(255, 255, 255, 0.1);
}

.header h2:hover {
  background-color: rgb(92, 70, 156);
  border-color: rgb(92, 70, 156);
}

.first-section {
  background-color: rgba(255, 255, 255, 0.1);
  margin: auto;
  height: 68vh;
  width: 90vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
}

body h3 {
  /*Text*/
  text-align: center;
  color: white;
  font-size: xx-large;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white;
}

/*----------------------------------Funcion 1 y explicacion----------------------------------------*/

.reasons {
  display: flex;
  flex-direction: column;
}

#explanation {
  /*Question container*/

  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

#explanation .objective {
  /*Question*/
  text-align: center;
  font-size: xx-large;
  margin: 0.5em;
  color: black;
  font-weight: bold;
  font-family: "Jost", sans-serif;
}

#places-section {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 70px;
  font-weight: 700;
  margin-left: 1em;
  margin-top: 0;
  margin-bottom: 0.4em;
}

#places-intro {
  color: white;
  font-family: "Jost", sans-serif;
  font-size: 30px;
  font-weight: 700;
  margin-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}

#explanation p {
  /*Content*/
  text-align: center;
  font-size: xx-large;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 0.5em;
  color: black;
  font-weight: bold;
}

.second-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 90vw;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin-bottom: 2em;
}

.section-container {
  display: flex;
  flex-direction: column;
}

.last-container {
  display: flex;
  flex-direction: row;
  gap: 2em;
  width: 100%;
}

.loc-container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  width: 45%;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loc-container p {
  margin: 1em;
}

.third-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5em;
  text-align: center;
  height: 50%;

  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.third-section p {
  font-size: large;
  color: white;
}

.third-section:hover {
  background-color: rgb(251, 37, 118);
}

.third-section h4 {
  font-family: "Jost", sans-serif;
  color: white;
  font-size: xx-large;
}

.third-section .logos {
  display: flex;
  flex-direction: row;
}

.third-section img {
  height: 144px;
  width: 144px;
}

.third-section p {
  color: white;
  font-size: xx-large;
  margin: 2em;
}

.fourth-section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  height: 50%;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.fourth-section p {
  font-size: xx-large;
  margin: 2em;
}

.fourth-section:hover {
  background-color: rgb(251, 37, 118);
}

.fourth-section p {
  color: white;
}

#subcategory {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: white;
  font-size: xx-large;
  margin: 1.5em;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.subgenres:hover {
  background-color: rgb(251, 37, 118);
}

#sub-music {
  background-image: url(../img/category-music.jpg);
  background-size: cover;
  width: 700px;
  height:380px;
  display: flex;
  justify-content: center;
  align-items: end;
  border-radius: 10px;
}

.genres {
  display: flex;
  flex-direction: row;
  color: white;
  gap: 2em;
  font-size: x-large;
}

.subgenres {
  background: black;
  width: 160px;
  border-radius: 15px;
  text-align: center;
}

#subcategory #function {
  font-style: normal;
  text-align: center;
  display: flex;
  align-items: center;
}

/*-------------------------Category--------------------------------*/

.image-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 95px;
  gap: 1em;
  margin-left: 1em;
  margin-right: 1em;
  justify-content: center;
}

.image-container img {
  transition: transform 0.8s;
}

.image-container img:hover {
  transform: scale(1.3);
}

.first-row {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

.second-row {
  display: flex;
  flex-direction: column;
  gap: 1.2em;
}

#games img {
  width: 250px;
  height: 206px;
  border-radius: 15px;
}

#clothes img {
  width: 250px;
  height: 180px;
  border-radius: 15px;
}
#movies img {
  width: 250px;
  height: 180px;
  border-radius: 15px;
}

#music img {
  width: 250px;
  height: 180px;
  border-radius: 15px;
}

#places img {
  width: 250px;
  height: 180px;
  border-radius: 15px;
}

#books img {
  width: 250px;
  height: 405px;
  border-radius: 15px;
  object-fit: cover;
}

#comics img {
  width: 250px;
  height: 206px;
  border-radius: 15px;
}

/*---------------------------second function---------------------------------*/

#location {
  display: flex;
  flex-direction: column;
  margin: 1em;
  align-items: center;
}

#location img {
  width: 37vw;
  height: 30vh;
  margin: 1.5em;
  object-fit: contain;
}

#location p {
  font-size: xx-large;
  text-align: center;
  color: white;
}

.img-container {
  display: flex;
  padding: 0;
  justify-content: center;

  gap: 0.5em;
}

.img-container img {
  object-fit: fill;
  width: 360px;
  height: 340px;
  transition: transform 0.2s;
  border-radius: 15px;
}

.img-container img:hover {
  object-fit: fill;
  width: 360px;
  height: 340px;
  border-radius: 50%;
  transform: scale(1.4);
  box-shadow: 0 8px 16px 0 rgb(194, 217, 255), 0 6px 20px 0 rgb(194, 217, 255);
}

#work {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 25vh;
}

#work .info {
  text-align: center;
  font-size: xx-large;
  margin: 0.5em;
  font-family: "Jost", sans-serif;
  color: black;
}

#work p {
  text-align: center;
  font-size: xx-large;
  margin-right: 2em;
  margin-left: 2em;
  margin-top: 0.5em;
  color: black;
  font-weight: bold;
}

/*-------------------------Body------------------------------------*/

body {
  background-color: black;
  background-attachment: fixed;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
}

.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in;
}

.active.fade-left {
  animation: fade-left 1s ease-in;
}
.active.fade-right {
  animation: fade-right 1s ease-in;
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-left {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/*------------------------Footer-----------------------------------*/

footer {
  background-color: black;
  font-size: larger;
  color: rgb(251, 37, 118);
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
  width: 100%;
  bottom: 0;
}

.fixed-footer {
  overflow-x: hidden;
}

@keyframes example {
  0% {
    left: -600px;
  }
  100% {
    left: 110%;
  }
}

.foot-content {
  display: flex;
  flex-direction: column;
}

.foot-texts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.social-icons {
  margin: auto;
}

.social-media {
  display: flex;
  flex-direction: row;

  border-radius: 10px;
  width: 20vw;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

hr {
  width: 100%;
}

.vertical {
  height: 45px;
  width: 0;
  margin: 0;
}

.foot-order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.foot-info {
  color: white;
  font-family: "Jost", sans-serif;
  text-align: left;
  margin: 0;
}

.foot-texts {
  font-family: "Jost", sans-serif;
  font-size: 35px;
  font-weight: 570;
  color: white;
  margin-top: 2em;
  text-align: left;
}

.separation {
  width: 100px;
  animation-name: example;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  position: relative;
  margin-top: 0;
}

.separation p {
  margin: 0;
  font-size: 150px;
  font-weight: 700;
}

/*-------------------------Media queries-------------------------------*/

/* Large devices (laptops/desktops, 1020px and below) */
@media only screen and (max-width: 1020px) {
  
  
  
  .first-section{
   
    height: 90vh;

  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: .3em;
    margin-right: .3em;
    margin-top: 0;
  }

  .last-container {
    margin-top: 4em;
  }

  .reasons{
    margin-top: 3em;
  }

  #games img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  #clothes img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  #movies img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #music img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #places img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #books img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  .first-row{
    flex-direction: row;
  }
  .second-row{
    flex-direction: row;
  }

  
  #comics img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  #sub-music{
    width: 400px;
    height: 250px;
  }
  
  .genres{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .4em;
    justify-content: center;
  }

  #places-intro {
    margin-bottom: 10em;
  }

  .slider-images {
    flex-direction: column;
    margin-bottom: 10em;
    justify-content: center;
  }

  .slider-container{
    margin-top: 500px;
    margin-bottom: 20em;
  }


  .slider-images .slider-img:first-child,
  .slider-images .slider-img:last-child {
    width: 550px;
    height: 120px;
  }
  
  .slider-images .slider-img:nth-child(2),
  .slider-images .slider-img:nth-child(5) {
    width: 600px;
    height: 120px;
  }
  
  .slider-images .slider-img:nth-child(3),
  .slider-images .slider-img:nth-child(4),
  .slider-images .slider-img:nth-child(5) {
    width: 660px;
    height: 120px;
  }
  
  .slider-images .slider-img:nth-child(6) {
    width: 600px;
    height: 120px;
  }

  .slider-img.active {
    width: 750px !important;
    height: 700px !important;
  }
  
  .slider-container h1 {
    transform: none;
    text-align: justify;
    top: 0;
    left: 20%;
    font-size: 35px;
  }


  #park {
    left: 20%;
  }
  
  #coffee {
    left: 20%;
  }

  .last-container{
    flex-direction: column;
  }

  .loc-container{
    width: 95%;
  }


  .section-container {
    flex-direction: column-reverse;
  
  }

  .fourth-section{
    width: 95%;
  }

  .group-img img{
    width: 50%;
    margin-top: 1em;
  }

  .texts {
    height: 140vh;
  }

  #work{
    height: 45%;
  }

  #explanation{
    margin-top: .2em;
    height: 35%;
  }

  .foot-texts {

    flex-direction: column;

  }
  .foot-info {
    font-size: 22px;
  }

  #header-section #intro {
    font-size: 90px;
  }

  #header-section #intro-extra {

    font-size: 100px;

  }

  #header-section {
    margin-top: 0;
    height: 70vh;
  }
  
  #header-section #earth {
    margin-top: 7em;
    width: 95%;

  }

  #header-section #bg {
    width: 100%;
    backdrop-filter: blur(2px);
    display: none;
  }

  .content{
    margin-top: 5em;
  }

  #side-menu{
    width: 28vw;
  }

  #side-menu ul {
    /*Menu Options*/
    font-size: medium;
    display: flex;
    gap: .5em;
    margin-left: -20px;
    
  }

}

/* Large devices (laptops/desktops, 992px and below) */
@media only screen and (max-width: 992px) {
  .first-section{
    height: 60vh;

  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: .3em;
    margin-right: .3em;
    margin-top: 0;
  }

  .reasons{
    margin-top: 2em;
  }

  #games img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  #clothes img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  #movies img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #music img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #places img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }
  
  #books img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  .first-row{
    flex-direction: row;
  }
  .second-row{
    flex-direction: row;
  }

  
  #comics img {
    width: 220px;
    height: 180px;
    border-radius: 15px;
  }

  #sub-music{
    width: 400px;
    height: 250px;
  }
  
  .genres{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .4em;
    justify-content: center;
  }

  #places-intro {
    margin-bottom: 10em;
  }

  .slider-images {
    flex-direction: column;
    margin-bottom: 10em;
    justify-content: center;
  }

  .slider-container{
    margin: 4em;
  }


  .slider-images .slider-img:first-child,
  .slider-images .slider-img:last-child {
    width: 480px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(2),
  .slider-images .slider-img:nth-child(5) {
    width: 550px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(3),
  .slider-images .slider-img:nth-child(4),
  .slider-images .slider-img:nth-child(5) {
    width: 600px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(6) {
    width: 550px;
    height: 100px;
  }

  .slider-img.active {
    width: 660px !important;
    height: 600px !important;
  }
  
  .slider-container h1 {
    transform: none;
    text-align: justify;
    top: 0;
    left: 20%;
    font-size: 35px;
  }


  #park {
    left: 20%;
  }
  
  #coffee {
    left: 20%;
  }

  .last-container{
    flex-direction: column;
  }

  .loc-container{
    width: 95%;
  }

  .slider-container{
    margin: .2em;
    padding-bottom: 3em;
  }

  .section-container {
    flex-direction: column-reverse;
  
  }

  .fourth-section{
    width: 95%;
  }

  .group-img img{
    width: 50%;
    margin-top: 1em;
  }

  .texts {
    height: 140vh;
  }

  #work{
    height: 45%;
  }

  #explanation{
    margin-top: .2em;
    height: 35%;
  }

  .foot-texts {

    flex-direction: column;

  }
  .foot-info {
    font-size: 19px;
  }

  #header-section #intro {
    font-size: 90px;
  }

  #header-section #intro-extra {

    font-size: 100px;

  }

  #header-section {
    margin-top: 0;
    height: 70vh;
  }
  
  #header-section #earth {
    margin-top: 7em;
    width: 95%;

  }

  #header-section #bg {
    width: 100%;
    backdrop-filter: blur(2px);
    display: none;
  }

  .content{
    margin-top: 5em;
  }

  #side-menu{
    width: 30vw;
  }

  #side-menu ul {
    /*Menu Options*/
    font-size: medium;
    display: flex;
    gap: 1em;
    margin-left: -30px;
    
  }


}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  .first-section{
    height: 60vh;

  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: .3em;
    margin-right: .3em;
    margin-top: 0;
  }

  .reasons{
    margin-top: 3em;
  }

  #games img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }

  #clothes img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }
  #movies img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }
  
  #music img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }
  
  #places img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }
  
  #books img {
    width: 170px;
    height: 120px;
    border-radius: 15px;
  }

  .first-row{
    flex-direction: row;
  }
  .second-row{
    flex-direction: row;
  }

  
  #comics img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }

  #sub-music{
    width: 400px;
    height: 250px;
  }
  
  .genres{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .4em;
    justify-content: center;
  }

  #places-intro {
    margin-bottom: 10em;
  }

  .slider-images {
    flex-direction: column;
    margin-bottom: 10em;
    justify-content: center;
  }

  .slider-container{
    margin: 4em;
  }


  .slider-images .slider-img:first-child,
  .slider-images .slider-img:last-child {
    width: 390px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(2),
  .slider-images .slider-img:nth-child(5) {
    width: 410px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(3),
  .slider-images .slider-img:nth-child(4),
  .slider-images .slider-img:nth-child(5) {
    width: 430px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(6) {
    width: 410px;
    height: 100px;
  }

  .slider-img.active {
    width: 440px !important;
    height: 470px !important;
  }
  
  .slider-container h1 {
    transform: none;
    text-align: justify;
    top: 0;
    left: 20%;
    font-size: 35px;
  }


  #park {
    left: 20%;
  }
  
  #coffee {
    left: 20%;
  }

  .last-container{
    flex-direction: column;
  }

  .loc-container{
    width: 95%;
  }

  .slider-container{
    margin: .2em;
    padding-bottom: 3em;
  }

  .section-container {
    flex-direction: column-reverse;
  
  }

  .fourth-section{
    width: 95%;
  }

  .group-img img{
    width: 50%;
    margin-top: 1em;
  }

  .texts {
    height: 130vh;
  }

  #work{
    height: 45%;
  }

  #explanation{
    margin-top: .2em;
    height: 35%;
  }

  .foot-texts {

    flex-direction: column;

  }
  .foot-info {
    font-size: 16px;
  }

  #header-section #intro {
    font-size: 70px;
  }

  #header-section #intro-extra {

    font-size: 85px;

  }

  #header-section {
    margin-top: 0;
    height: 70vh;
  }
  
  #header-section #earth {
    margin-top: 7em;
    width: 95%;

  }

  #header-section #bg {
    width: 100%;
    backdrop-filter: blur(2px);
    display: none;
  }

  .content{
    margin-top: 5em;
  }

  #side-menu {
    /*Menu*/
    font-size: xx-large;
    
    height: 40vh;
    width: 30vw;
    
  }

  #side-menu ul {
    /*Menu Options*/
    align-items: center;
    flex-direction: column;
    margin-left: -50px;
    margin-top: 170px;
    gap: 1em;
  }

  .header{
    overflow: visible;
  }
}

/* Small devices (portrait tablets and large phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .first-section{
    height: 110vh;

  }

  .image-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: .2em;
    margin-right: .2em;
    margin-top: 0;
  }

  .reasons{
    margin-top: 3em;
  }

  #games img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }

  #clothes img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }
  #movies img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }
  
  #music img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }
  
  #places img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }
  
  #books img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }

  .first-row{
    flex-direction: row;
  }
  .second-row{
    flex-direction: row;
  }

  
  #comics img {
    width: 180px;
    height: 120px;
    border-radius: 15px;
  }

  .genres{
    flex-wrap: wrap;
    flex-direction: row;
    gap: .4em;
  }

  #places-intro {
    margin-bottom: 10em;
  }

  .slider-images {
    flex-direction: column;
    margin-bottom: 10em;
    justify-content: center;
  }

  .slider-container{
    margin: 4em;
  }


  .slider-images .slider-img:first-child,
  .slider-images .slider-img:last-child {
    width: 390px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(2),
  .slider-images .slider-img:nth-child(5) {
    width: 410px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(3),
  .slider-images .slider-img:nth-child(4),
  .slider-images .slider-img:nth-child(5) {
    width: 430px;
    height: 100px;
  }
  
  .slider-images .slider-img:nth-child(6) {
    width: 410px;
    height: 100px;
  }

  .slider-img.active {
    width: 440px !important;
    height: 470px !important;
  }
  
  .slider-container h1 {
    transform: none;
    text-align: justify;
    top: 0;
    left: 20%;
    font-size: 35px;
  }


  #park {
    left: 20%;
  }
  
  #coffee {
    left: 20%;
  }

  .last-container{
    flex-direction: column;
  }

  .loc-container{
    width: 95%;
  }

  .slider-container{
    margin: .2em;
    padding-bottom: 3em;
  }

  .section-container {
    flex-direction: column-reverse;
  
  }

  .fourth-section{
    width: 95%;
  }

  .group-img img{
    width: 50%;
    margin-top: 1em;
  }

  .texts {
    height: 159vh;
  }

  #work{
    height: 45%;
  }

  #explanation{
    margin-top: .2em;
    height: 35%;
  }

  .foot-texts {

    flex-direction: column;

  }
  .foot-info {
    font-size: 12px;
  }

  #header-section #intro {
    font-size: 70px;
  }

  #header-section #intro-extra {

    font-size: 85px;

  }

  #header-section {
    margin-top: 0;
    height: 70vh;
  }
  
  #header-section #earth {
    margin-top: 7em;
    width: 95%;

  }

  #header-section #bg {
    width: 100%;
    backdrop-filter: blur(2px);
    display: none;
  }

  .content{
    margin-top: 5em;
  }

  #side-menu {
    /*Menu*/
    font-size: large;
    
    height: 40vh;
    width: 30vw;
    
  }

  #side-menu ul {
    /*Menu Options*/
    align-items: center;
    flex-direction: column;
    margin-left: -50px;
    margin-top: 170px;
    gap: 1em;
  }

  .header{
    overflow: visible;
  }
}